/* Zerando a pagina do navegador*/
*{
    margin: 0px;
}

#estrutura{
    background-color: white; /*cor de fundo*/
    width: 90%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estrutura #titulo{
    background-image: url("../imagens/cafe2.jpg"); /*imagem dentro do titulo*/
    background-position: -400px -380px;/*posição x, y*/
    color: white;
    font-size: 15pt;
    font-family: Arial;
    padding-top: 10px; /*espaçamento no topo*/
    padding-left: 10px; /*espaçamento a esquerda*/
    height: 350; /*altura*/
}
/* criando uma classe no css, chamada titulo*/
.titulo{
    margin-top: 400px;
}
p{
    text-align: justify; /*paragrafo*/
    text-indent: 40px; /*recuo de paragrafo*/
    font-family: Georgia Gothic;
    font-size: 14pt;
}
#estrutura #menu ul{
    padding: 1px;/* espaçamento*/
}
#estrutura #menu li{
    /*retira as marcas do marcador*/
    list-style: none;
    /* alinhar links na horizontal*/
    
}